[submodule "OpenEngine/vendor/GLFW"]
	path = OpenEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "OpenEngine/vendor/glm"]
	path = OpenEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "OpenEngine/vendor/assimp"]
	path = OpenEngine/vendor/assimp
	url = https://github.com/assimp/assimp
